In [1]:
!pip install --user uszipcode;
from uszipcode import SearchEngine
import pandas as pd
import numpy as np

search = SearchEngine(simple_zipcode=True)
# may need to add slash before datasets
df = pd.read_csv('datasets/iowaliquor.csv').dropna()[['Date', 'County', 'Store Name', 'Zip Code', 'Sale (Dollars)']]
df['Year'] = df["Date"].str.split("/").str[2].astype('int')
df.head()

Requirement already satisfied: uszipcode in c:\users\arman\appdata\roaming\python\python38\site-packages (0.2.4)
Requirement already satisfied: sqlalchemy in c:\users\arman\appdata\roaming\python\python38\site-packages (from uszipcode) (1.3.19)
Requirement already satisfied: attrs in c:\users\arman\appdata\local\programs\python\python38\lib\site-packages (from uszipcode) (19.3.0)
Requirement already satisfied: requests in c:\users\arman\appdata\local\programs\python\python38\lib\site-packages (from uszipcode) (2.22.0)
Requirement already satisfied: pathlib-mate in c:\users\arman\appdata\roaming\python\python38\site-packages (from uszipcode) (1.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\arman\appdata\local\programs\python\python38\lib\site-packages (from requests->uszipcode) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\arman\appdata\local\programs\python\python38\lib\site-packages (from requests->uszipcode) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\arman\appdata\local\programs\python\python38\lib\site-packages (from requests->uszipcode) (1.25.7)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\arman\appdata\local\programs\python\python38\lib\site-packages (from requests->uszipcode) (3.0.4)
Requirement already satisfied: autopep8 in c:\users\arman\appdata\roaming\python\python38\site-packages (from pathlib-mate->uszipcode) (1.5.4)
Requirement already satisfied: six in c:\users\arman\appdata\local\programs\python\python38\lib\site-packages (from pathlib-mate->uszipcode) (1.13.0)
Requirement already satisfied: pycodestyle>=2.6.0 in c:\users\arman\appdata\roaming\python\python38\site-packages (from autopep8->pathlib-mate->uszipcode) (2.6.0)
Requirement already satisfied: toml in c:\users\arman\appdata\roaming\python\python38\site-packages (from autopep8->pathlib-mate->uszipcode) (0.10.1)

WARNING: You are using pip version 19.2.3, however version 20.2.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.
c:\users\arman\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3050: DtypeWarning: Columns (6,14) have mixed types. Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Date,County,Store Name,Zip Code,Sale (Dollars),Year
1,12/20/2014,Benton,Roy's Foodland,52332,27.66,2014
2,09/09/2013,Linn,Wal-Mart 1528 / Cedar Rapids,52402,134.76,2013
3,12/12/2012,Mills,No Frills Supermarkets #803 / Glenwo,51534,495.60,2012
4,10/14/2015,Woodbury,Hy-Vee Food Store / Sioux City,51106,121.56,2015
5,05/08/2012,Lee,Sonny's Super Market / West Point,52656,40.29,2012

## 2016 Presidential Election Data

In [2]:
election = pd.read_csv('datasets/usa-2016-presidential-election-by-county.csv', sep=';')
election = election[['State', 'County', 'Less Than High School Diploma', 'At Least High School Diploma',
                    'At Least Bachelors\'s Degree', 'Graduate Degree', 'Median Earnings 2010',
                    'Children Under 6 Living in Poverty', 'Adults 65 and Older Living in Poverty',
                    'Preschool.Enrollment.Ratio.enrolled.ages.3.and.4', 'Gini.Coefficient',
                    'Service.occupations', 'Median Age', 'Poor.physical.health.days', 'Poor.mental.health.days',
                    'Low.birthweight', 'Teen.births', 'Children.in.single.parent.households', 'Adult.smoking',
                    'Adult.obesity', 'Diabetes', 'Uninsured', 'Unemployment',
                    'elevation', 'temp', 'precip']]

election = election[election['State'] == 'Iowa']
election['County'] = election['County'].str.split(' County,').str[0]
election = election.fillna(election.mean())
election.head()

,State,County,Less Than High School Diploma,At Least High School Diploma,At Least Bachelors's Degree,Graduate Degree,Median Earnings 2010,Children Under 6 Living in Poverty,Adults 65 and Older Living in Poverty,Preschool.Enrollment.Ratio.enrolled.ages.3.and.4,...,Teen.births,Children.in.single.parent.households,Adult.smoking,Adult.obesity,Diabetes,Uninsured,Unemployment,elevation,temp,precip
63,Iowa,Tama,11.9,88.1,16.5,4.4,27001.761585,16.00,7.85,47.9,...,37.8,0.372,0.179,0.289,0.108,0.138,0.066,278.00,8.991168,931.9260
90,Iowa,Des Moines,10.3,89.7,17.6,5.3,24628.303810,23.25,6.30,38.0,...,48.2,0.332,0.208,0.323,0.118,0.097,0.064,210.90,11.666667,977.3920
127,Iowa,Howard,13.2,86.8,11.5,3.0,26203.329205,20.45,18.35,45.2,...,27.6,0.210,0.110,0.298,0.089,0.118,0.052,382.50,6.722222,925.0680
140,Iowa,Mitchell,10.4,89.6,16.6,4.2,26460.248570,3.60,8.35,29.4,...,14.3,0.189,0.146,0.274,0.086,0.107,0.048,351.90,8.991168,912.1140
177,Iowa,Monona,12.4,87.6,14.7,2.6,23500.104125,14.25,7.10,43.9,...,22.5,0.349,0.170,0.274,0.096,0.117,0.071,361.95,8.991168,796.9885

## Iowa Unemployment Data

In [3]:
unemployment = pd.read_csv('datasets/iowa_unemployment.csv', sep=',')
unemployment = unemployment.rename(columns={'County Name': 'County'})
unemployment = unemployment[['Year', 'County', 'Benefits Paid', 'Weeks Compensated', 'Recipients']]
unemployment['Benefits Paid'] //= unemployment['Recipients'] # get averages instead of total
unemployment['Weeks Compensated'] //= unemployment['Recipients']
unemployment = unemployment[unemployment['Year'] >= 2012]
unemployment.head()

   Year      County  Benefits Paid  Weeks Compensated  Recipients
0  2019       Worth           3350                  8         290
1  2019    Woodbury           4051                 10        2505
2  2019      Wright           3497                  9         336
3  2019  Winneshiek           4815                 11         574
4  2019   Winnebago           2235                  6         560

## Combine Datasets

In [4]:
df = pd.merge(df, election, on='County')
df = pd.merge(df, unemployment, on=['County', 'Year'])
print(df.isna().sum())
df.head()

Date                                                0
County                                              0
Store Name                                          0
Zip Code                                            0
Sale (Dollars)                                      0
Year                                                0
State                                               0
Less Than High School Diploma                       0
At Least High School Diploma                        0
At Least Bachelors's Degree                         0
Graduate Degree                                     0
Median Earnings 2010                                0
Children Under 6 Living in Poverty                  0
Adults 65 and Older Living in Poverty               0
Preschool.Enrollment.Ratio.enrolled.ages.3.and.4    0
Gini.Coefficient                                    0
Service.occupations                                 0
Median Age                                          0
Poor.physical.health.days                           0
Poor.mental.health.days                             0
Low.birthweight                                     0
Teen.births                                         0
Children.in.single.parent.households                0
Adult.smoking                                       0
Adult.obesity                                       0
Diabetes                                            0
Uninsured                                           0
Unemployment                                        0
elevation                                           0
temp                                                0
precip                                              0
Benefits Paid                                       0
Weeks Compensated                                   0
Recipients                                          0
dtype: int64

,Date,County,Store Name,Zip Code,Sale (Dollars),Year,State,Less Than High School Diploma,At Least High School Diploma,At Least Bachelors's Degree,...,Adult.obesity,Diabetes,Uninsured,Unemployment,elevation,temp,precip,Benefits Paid,Weeks Compensated,Recipients
0,12/20/2014,Benton,Roy's Foodland,52332,27.66,2014,Iowa,7.4,92.6,17.8,...,0.297,0.09,0.092,0.053,259.1,9.333333,930.91,3266,9,1107
1,12/27/2014,Benton,Belle Plaine Country Food,52208,24.60,2014,Iowa,7.4,92.6,17.8,...,0.297,0.09,0.092,0.053,259.1,9.333333,930.91,3266,9,1107
2,09/30/2014,Benton,Roy's Foodland,52332,188.16,2014,Iowa,7.4,92.6,17.8,...,0.297,0.09,0.092,0.053,259.1,9.333333,930.91,3266,9,1107
3,04/09/2014,Benton,Roy's Foodland,52332,211.44,2014,Iowa,7.4,92.6,17.8,...,0.297,0.09,0.092,0.053,259.1,9.333333,930.91,3266,9,1107
4,10/07/2014,Benton,Karam Kaur Khasriya Llc,52208,32.00,2014,Iowa,7.4,92.6,17.8,...,0.297,0.09,0.092,0.053,259.1,9.333333,930.91,3266,9,1107

## Aggregate and Get Zip Code Statistics

In [5]:
df["YearMonth"] = df["Date"].str.split("/").str[2] + "-" + df["Date"].str.split("/").str[0]

totalSales = pd.DataFrame(df.groupby(["YearMonth", "Zip Code"]).sum())
totalSales.reset_index(inplace=True)
totalSales["Zip Code"] = totalSales["Zip Code"].replace("712-2", 51529)
totalSales["Zip Code"] = totalSales["Zip Code"].astype(int)

populationDict = {}
popDensityDict = {}
housingUnitsDict = {}
incomeDict = {}

for zc in totalSales["Zip Code"].unique():
    stats = search.by_zipcode(zc)
    populationDict[zc] = stats.population
    popDensityDict[zc] = stats.population_density
    housingUnitsDict[zc] = stats.housing_units
    incomeDict[zc] = stats.median_household_income

In [6]:
totalSales["Month"] = totalSales["YearMonth"].str.split("-").str[-1]
totalSales["Population"] = totalSales["Zip Code"].map(populationDict)
totalSales["PopulationDensity"] = totalSales["Zip Code"].map(popDensityDict)
totalSales["HousingUnits"] = totalSales["Zip Code"].map(housingUnitsDict)
totalSales["MedianIncome"] = totalSales["Zip Code"].map(incomeDict)
totalSales["SalesPerCapita"] = totalSales["Sale (Dollars)"] / totalSales["Population"]
totalSales["LogPopDensity"] = np.log(totalSales["PopulationDensity"])
totalSales.dropna(inplace=True)

In [7]:
totalSales.head()

,YearMonth,Zip Code,Sale (Dollars),Year,Less Than High School Diploma,At Least High School Diploma,At Least Bachelors's Degree,Graduate Degree,Median Earnings 2010,Children Under 6 Living in Poverty,...,Benefits Paid,Weeks Compensated,Recipients,Month,Population,PopulationDensity,HousingUnits,MedianIncome,SalesPerCapita,LogPopDensity
0,2012-01,50010,59.52,2012,4.7,95.3,47.2,19.3,17362.730795,11.75,...,3328,10,1705,01,29359.0,490.0,13618.0,48189.0,0.002027,6.194405
1,2012-01,50060,49.28,2012,15.6,84.4,10.8,2.5,22831.213970,16.40,...,2860,9,206,01,2507.0,14.0,1221.0,43226.0,0.019657,2.639057
2,2012-01,50138,27.55,2012,8.6,91.4,24.0,7.3,27009.609525,13.05,...,3225,9,1240,01,11720.0,69.0,5241.0,49214.0,0.002351,4.234107
3,2012-01,50158,182.22,2012,14.3,85.7,18.7,5.7,27821.110160,26.30,...,4004,12,1636,01,31591.0,149.0,12904.0,49767.0,0.005768,5.003946
4,2012-01,50201,12.30,2012,4.7,95.3,47.2,19.3,17362.730795,11.75,...,3328,10,1705,01,8199.0,71.0,3559.0,56619.0,0.001500,4.262680

## Linear Regression

In [8]:
X = totalSales[['LogPopDensity', 'MedianIncome', 'Month']]
X = np.array(pd.get_dummies(X))
y = np.array(totalSales['SalesPerCapita'])

In [9]:
b = np.linalg.inv(X.T@X)@X.T@y

In [10]:
b

array([ 1.29059847e+00, -1.01256527e-04,  4.22561297e+00,  4.35772269e+00,
        4.45720213e+00,  4.80745849e+00,  5.03713706e+00,  5.44721305e+00,
        5.07922875e+00,  4.75477875e+00,  4.69979888e+00,  6.01291860e+00,
        4.53086314e+00,  5.83123892e+00])

In [11]:
np.sqrt(((X@b - y)**2).mean())

8.327116928400427